<div class="home-on" ng-controller="home">
<div ng-show="!fileView">
	<div ng-include="'/assets/html/templates/createFolder.html'"></div>
	<div ng-include="'/assets/html/templates/createFile.html'"></div>
	<div ng-include="'/assets/html/templates/menu-folder.html'"></div>
	<table class="table table-striped" >
	<tr ng-repeat="folder in currentFolder.inFolder">
		<td>
			<img class="folder" src="/assets/images/home-logo.png" />
			<a href="/#/" ng-click="changeFolder(folder.id)">{{folder.name}}</a>
		</td>
	</tr>
	<tr ng-repeat="file in currentFolder.files">
		<td>
			<img class="folder" src="/assets/images/file.png" />
			<a href="/#/" ng-click="changeFile(file.id)" >{{file.name}}</a>
		</td>
	</tr>
	</table>


<h3>Shared With Me</h3>
	
	<table class="table table-striped" >
	<tr ng-repeat="file in fileShared">
		<td>
			<img class="folder" src="/assets/images/file.png" />
			<a href="/#/" ng-click="changeSharedFile(file.id)">{{file.name}}</a>
		</td>
	</tr>
	</table>
</div>
<div ng-include="'/assets/html/templates/show-file.html'" ng-show="fileView"></div>
</div>

