<nav class="navbar">
<div class="container-fluid">
<div class="navbar-header">
<h3>{{currentFolderName}}</h3>

</div>

<div class="nav navbar-nav navbar-right">
<a class="navbar-brand btn  btn-menu" ng-show="previousFileShow" ng-click="comeBack()">
<span class="glyphicon glyphicon glyphicon-back"></span> Back
</a>

<a class="navbar-brand btn  btn-menu" ng-click="openFileWindow()">
<span class="glyphicon glyphicon glyphicon-plus-sign"></span> File
</a>

<a class="navbar-brand btn  btn-menu" ng-click="openFolderWindow()">
<span class="glyphicon glyphicon glyphicon-plus-sign"></span> Folder
</a>

</div>

</div>

</nav>