<div class="file-show">
<div class="card-file">
	<div class="header">
		<h3> {{currentFile.name}}</h3>
	</div>
	<div class="inner">
		<p> {{currentFile.content}}</p>
	</div>
</div>
<button class="btn btn-danger  btn-block  btn-file btn-file-view"  ng-click="close()">Close</button>
<button class="btn btn-primary btn-block  btn-file btn-file-edit"  ng-click="editFileView()">Edit</button>
<button class="btn btn-primary btn-block  btn-file btn-file-share"  ng-click="shareFileView()">Share</button>
<button class="btn btn-primary  btn-block  btn-file btn-file-share"  ng-click="moveToTrash()">Move to Trash</button>
</div>
