<div ng-controller="folder">
<div class="file-show">
	<div class="card-file">
		<div class="header">
			<h3>{{folderEdit.name}}</h3>
		</div>
		<div class="inner">
			<input class="form-control" type="text" ng-model="folder.name" placeholder="{{folderEdit.name}}"/>
		</div>
	</div>
		<button class="btn btn-warning  btn-block  btn-file btn-file-view"  ng-click="closeEditFolderView()">Cancel</button>
		<button class="btn btn-success btn-block  btn-file btn-file-edit"  ng-click="editFolder(folder, folderEdit)">Rename</button>
	</div>
</div>
